<div class="container">

  <div class="visualizacion">
    <div class="canvas-avatar">
      <div class="cuerpo" [class.girar]="girando()" [style.background-color]="colorFondo()"
        [style.width.px]="tamano()" [style.height.px]="tamano()">

        <div class="ojos">
          <div class="ojo"></div>
          <div class="ojo"></div>
          @if(tieneLentes()){
          <div class="lentes"></div>
          }
        </div>

        <div class="boca">
          @switch(tipoExpresion()){
          @case(1){ <div class="feliz"></div> }
          @case(2){ <div class="sorprendido"></div> }
          @case(3){ <div class="serio"></div> }
          }
        </div>
      </div>
    </div>
    <h3 [style.color]="colorFondo()">{{ nombreVisible() }}</h3>
  </div>

  <div class="panel-derecho">
    <h2>Avatar</h2>

    <div class="controles">

      <label>
        Escribir nombre:
        <div>
          <input type="text" (input)="actualizarNombre($event)" placeholder="Ej: Super Emoji">
          <button (click)="confirmarNombre()">Poner nombre</button>
        </div>
      </label>

      <button (click)="toggleGiro()">
        {{ girando() ? 'Detener Giro' : 'Girar Avatar' }}
      </button>

      <hr>

      <label>
        Color de fondo:
        <input type="color" [value]="colorFondo()" (input)="cambiarColor($event)">
      </label>

      <label>
        Tamaño:
        <input type="range" min="100" max="300" [value]="tamano()" (input)="cambiarTamano($event)">
      </label>

      <button (click)="toggleLentes()">
        {{ tieneLentes() ? 'Quitar lentes' : 'Poner lentes' }}
      </button>
    </div>

    <div class="expresiones">
      <p>Seleccionar Expresión:</p>
      <div class="botones-expresion">
        <button (click)="tipoExpresion.set(1)">Feliz</button>
        <button (click)="tipoExpresion.set(2)">Sorprendido</button>
        <button (click)="tipoExpresion.set(3)">Serio</button>
      </div>
    </div>
  </div>

</div>